<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MonoGame.Extended" version="3.7.0" targetFramework="monoandroid81" />
  <package id="MonoGame.Extended.Gui" version="3.7.0" targetFramework="monoandroid81" />
  <package id="MonoGame.Extended.Input" version="3.7.0" targetFramework="monoandroid81" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="monoandroid81" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="monoandroid81" />
</packages>