# This is a basic workflow to help you get started with Actions

name: Test Dll

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  pull_request:
    branches: [ master ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  unitTest:
    # The type of runner that the job will run on
    runs-on: ubuntu-18.04
    # The container image to pull
    container: mcr.microsoft.com/dotnet/core/sdk:3.1

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - name: Checkout
      uses: actions/checkout@v2
    # Build proto files
    - name: Generate Proto
      run: dotnet build "Server/ProtoFiles/ProtoFiles.csproj"
    # Build the DLL
    - name: Build DLL
      run: dotnet build "Core/SubterfugeCore/SubterfugeCore.csproj"
    - name: Run tests
      run: dotnet test "Core/SubterfugeCoreTest/SubterfugeCoreTest.csproj"
  # A step to build docfx documents using a differnt container with docfx installed
  gen-docs:
    runs-on: ubuntu-18.04
    container: erothejoker/docker-docfx:latest
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - name: Checkout
      uses: actions/checkout@v2
    # Run the docfx generation command.
    - name: Generate docs
      run: docfx Core/SubterfugeCore/docfx.json
